.create-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  padding: 20px;
  margin-bottom: 30px;
 margin-left: 5px;
  
background-color: white;
    border-radius: 20px;
    border: rgb(216, 214, 214) solid 2px;
    box-shadow: 5px 5px 5px rgb(179, 179, 179);
}
.submitbtn{
    width: 100px;
    margin-top: 20px;
}
.create-div{
  width: 400px;
}